* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
  }
body {
    background-image: linear-gradient(to bottom,  rgba(2, 1, 1, 0.89), #1313a5ca);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 310vw;
    height: 100vh;

    
    
}
#agreement-label a {
    color: #e60084;
    text-decoration: underline;
}
  /* form */
#main-container {
    margin: 0;
    width: 500px;
    align-items: center;
    border: 2px solid rgb(228, 221, 221);
    border-radius: 10px;
    padding: 25px;

}
input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
    border-color: #FF1A1A;
}
.iniciar-secão {
    padding-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main-container h1 {
    font-family: 'Comforter', 'cursive';
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6em; /*adapta ao elemento root */
    color: #fff;
    font-family: 'Sedan SC', sans-serif;
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.full-box1 {
    flex: 1 1 100%;
    position: relative;
    display: inline-grid;
}
.half-box {
    flex: 1 1 45%;
    position: relative;
}

.spacing {
    margin-right: 8%;
}
label {
    font-weight: bold;
    font-size: .8rem;
    color: white;
}
input {
    border-bottom: 2px solid #1b1a1a;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
}

#btn-submit {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
    width: 446px;
}
#ageement {
    margin-right: 5px;
}
#agreement, #agreement-label {
    display: inline-block;
    width: auto;
}
  /* validações*/
.error-validation template {
    color: #FF1A1A;
    position: absolute;
    top: 57px;
    font-size: .8rem;
}
.template {
    display: none;
}
@media (max-width:1200px) {
   
}
@media screen and (max-width:778px){

}
@media screen and (max-width:320px) {
    #main-container {
        width: 284px;
    }
    #btn-submit{
        width: 232px;
    }

    
}