* {
    margin: 0;
    padding: 0;
    text-align: center;
}
a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
a:hover {
    opacity: 0.7;
}

body {
    overflow-x: hidden;
}
header {
    height: 280px;
    background-color: black; 
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
}
.carrinho img{
    width: 80px;
    height: 70px;
}
.iniciar a{
    float: right;
    background-color: #83BEC1;
    color: white;
    text-decoration: none;
    text-transform: uppercase; 
    padding: 8px;
}       
.logo img{
    width: 50vw;
    display: flex;
    align-items: center;
}

/* menu barras*/

.nav-list {
    list-style: none;
    display: flex;
    margin-right: 2.3rem;
    justify-content: space-between;
    text-transform: uppercase;
}
.nav-list li {
    letter-spacing: 2px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}
.mobile-menu div {
    width: 30px;
    height: 3px;
    background: white;
    margin: 6px;
    transition: 0.3s;
    border-radius: 3px;
}
/* campo pesquisa */

#campo-pesquisa {
    border: none;
    height: 30px;
}
.button {
    background-color:white;
    border: none;
    cursor: pointer;
    height: 30px;
    padding: 3px;
}
.CampoPesquisa {
    border-radius: 9%;
    
}
.campo-input{
    
    height: 60px;
    letter-spacing: -5px;
}
input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

/* banner e carossel*/

.fundo-banner{
    background-color: black;
    height: 100px;
}
.fundo-banner h1{
    float: left;
    font-family: 'Comforter', 'cursive';
    text-decoration: underline;
    color: white;
    margin-top: 20px;
    font-size: 2.5em;
    
}
#carrossel img{
    display: none;
}

.carrossel img {
    height: 45vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
}

.fundo {
    height: 300px;
    background-color: black;
}
.color{
    background-color: rgb(225, 5, 5);
    height: 3px;
}
/*secão jogos black friday*/

#espaco-jogos{
    display: flex;
    
}

.jogos {
    background-color: black;
    width: 100vw;
}
.jogos img{
    width: 156px;
    height: 204px;
}
.imageContainer a{
    background-color:red;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase; 
    padding: 6px;
    

}

/*opções do steam*/

.opções {
    width: 133vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.opções-steam{
    justify-content: space-between;
    display: flex;
    width: 100vw;
}
.remomendaçoes {
    display: none;
}
.steam{
    background-color: black;
    height: 150px;
    display: grid;
    
}
.steam a{
    text-transform: uppercase;
    background-color:#83BEC1;
    border-radius: 5px;
    padding: 9px;
    height: 40px;
    color: white;
    justify-content: space-between;
    text-decoration: none;
    
}
.steam h1{
    float: left;
    color: white;
    text-decoration: underline;
    font-family: 'Comforter', 'cursive';
    font-size: 2.5em;
}
/*roda pé*/

.roda-pé{
    height: 200px;
    background-color: black;
}
.contato img {
    width: 220px;
    float: right;
    margin-top: -8%;
}
.contato h1, h2{
    color: white;
    text-decoration: none; 
    display: flex;
    font-size: 1.5em;
    width: 300px;
}
.contato a{
    color: white;
    text-decoration: none;
    display: flex;
    width: 300px;
}
.bloco-jogos{
    padding: 10px;
}
.redes-sociais img{
    width: 50px;
    float: right;
}
.contato{
    padding-top: 2vh;
    
}
@media screen and (max-width:1200px) {
    
    .imageContainer a {
        padding: 2px;
        width: 141px;
    }
    .nav-list {margin-right: 3vh;margin-left: 0vh;}
    
    .opções {width: 189vh;}
    .contato img {width: 190px;float: right;margin-top: -8%;}
    .jogos img{width: 140px;height: 180px;}
}

@media screen and (max-width:778px) {
    
    .cabeçalho{width: 770px;}
    
    .logo img {width: 370px;margin-left: 7%;}
    .carrinho img {width: 68px;margin-left: 1%;margin-top: 3%;height: 50px;}
    .nav-list {
        margin-right: 6vh;
        margin-left: 0vh;
    }
    .jogos img {width: 110px;height: 140px;margin-left: 3px;}

    .imageContainer a {
        width: 111px;
        margin-left: 3px;
    }
    .opções {
        width: 51vh;
    }
}
@media screen and (max-width:720px) {
    .container {
        display: flex;
        flex-direction: column;
        padding-left: 24px;
    }
    .opções {
        width: 47vh;
    }
    
}
@media screen and (max-width: 420px) {
    header{
        height: 140px;
    }
    .iniciar {
        display: none;
    }
    .menu-barras{
        display: flex;
    }
    .logo img {
        width: 300px;
        margin-left: 0;
    }
    .jogos img{
        width: 113px;
        height: 127px;
    }
    #espaco-jogos {
        padding: 36px;
        display: block;
    }

    .jogos {
        height: 380px;
    }
    .imageContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        float: inline-end;
    }
    .nav-list {
        position: absolute;
        top: 6vh;
        right: 0;
        width: 60vw;
        margin-right: 0vh;
        margin-left: 0vh;
        height: 25vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        text-transform: none;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .menu-barras {
        display: flex;
        justify-content: space-around;
        margin-top: 2vh;
        width: 34px;
        float: inline-end;
    }
    .nav-list li {
        margin-left: 1px;
        opacity: 0;
        margin-right: 3vh;
    }
    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }
    @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
  
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
.mobile-menu.active .line2 {
    opacity: 0;
  }
  
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
    } 
}
@media screen and (max-width:320px) {
    
    header {
        height: 155px;
    }
    /* nabar */
    .logo img {
        width: 241px;
        float: right;
    }
    .iniciar{
        display: none;
    }
    .logoContainer {
        width: 325px;
    }
    .carrinho img {
        width: 44px;
        height: 35px;
        margin-left: 1%;
        margin-top: 2%;
    }
    #campoPesquisa{width: 150px;}
    /* banner/carrossel */
    .fundo-banner h1{
        font-size: 2em;
    }
    /* jogos/blackfriday */
    .jogos img{
        width: 113px;
        height: 127px;
    }
    #espaco-jogos {
        padding: 34px;
        display: block;
    }

    .jogos{
        height: 544px;
    }
    .imageContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        float: inline-end;
    }
    /* opção-sateam */
    .opções {
        width: 21vh;
    }
    .steam h1 {font-size: 1.5em;}
    .steam a {
        padding: 6px;
        border-radius: 3px;
        text-transform: none;
    }
    /* iniciar seção */
    .iniciar-seção a{
        padding: 4px;
        background-color: red;
        margin-top: 2px;
        border-radius: 6px;
    }
    .iniciar-320 p{
        color:red;
    }
    .iniciar-320 h1{
        font-size: .7em;
        color: #fff;
    }
    .remomendaçoes{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        height: 100px;
    }
    /* roda-pé */
    .redes-sociais img {
        width: 30px;
        float: right;
    }
    .contato h1, h2 {
        width: 160px;
        font-size: 0.8em;
    }
    .contato img {
        width: 134px;
        float: right;
        margin-top: -23%;
    }
    .roda-pé {
        height: 150px;
    }
    .imageContainer{
        display: flex;
    }
    .nav-list {
        position: absolute;
        top: 16vh;
        right: 0;
        width: 60vw;
        margin-right: 0vh;
        margin-left: 0vh;
        height: 25vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        text-transform: none;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .menu-barras {
        display: flex;
        justify-content: space-around;
        margin-top: 1vh;
        width: 34px;
        float: inline-end;
    }
    .nav-list li {
        margin-left: 1px;
        opacity: 0;
        margin-right: 3vh;
    }
    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }
    @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
  
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
.mobile-menu.active .line2 {
    opacity: 0;
  }
  
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
    }
}
