*{
    margin: 0;
    padding: 0;
}
.seção-vendidos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-image:linear-gradient(to top, rgb(5, 5, 5), rgba(20, 20, 20, 0.918) ) ;
    
}
.vendidos{
    background-color: black;
    padding: 20px;
    font-family: 'Merriweather', serif;
    font-size: 2em;
    color: #fff;
    text-align: left;
    
}
.seleção a{
    /* width: 50px; */
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(158, 7, 7);
    color: #fff;
    text-decoration: none;
}

.maisVendidos {
    width: 255px;
    height: 320;
    background-image: linear-gradient(to bottom, black , rgb(46, 12, 12)); 
    padding: 31px;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
}
.maisVendidos img{
    width: 40vh;
}
.maisVendidos R1{
    color: red;
    font-size: 1.5em;
}
.maisVendidos p{
    font-family: 'Merriweather', serif;
    
    color: white;
    font-size: 1.2em;
}